* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background: linear-gradient(to bottom, blue, purple);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main h2 {
    margin-bottom: 20px;
    color: blue;
}

footer {
    background: linear-gradient(to bottom, blue, purple);
    color: white;
    text-align: center;
    padding: 15px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: blue;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

form label {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    width: calc(100% - 20px);
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="time"],
form input[type="password"],
form input[type="submit"],
form select {
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}

form button:hover {
    background: darkpurple;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid blue;
}

.about-us {
    margin-top: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.responsive-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
